<div class="home__container">
	
	<button (click)="showAll()">All</button>
	<button (click)="filterPs3()">PS3</button>
	<button (click)="filterPs4()">PS4</button>
	<button (click)="filterPs5()">PS5</button>

	<app-card
		*ngIf="filterStatusPs4"
		gameCover="assets/bt-1.jpg"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 129,99"
		(outputGeneration)="receiveGeneration($event)"
	>
	</app-card>
	<app-card
		*ngIf="filterStatusPs5"
		gameCover="assets/bt-4.jpg"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS5"
		gamePrice="R$ 269,99"
	>
	</app-card>
	<app-card
		*ngIf="filterStatusPs5"
		gameCover="assets/ac-cover.jpg"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 369,99"
		>
	</app-card>
	<app-card
		gameCover="assets/bt-hardline.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 369,99"
	>
	</app-card>
</div>

